/* Reset du css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/20201015_001.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    color: #252f33;
}

/* --------Style du 1er écran-------- */
#container-start {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

h1 {
    margin-bottom: 50px;
    text-align: center;
}

/* Style du bouton qui lance le jeu */
button#startGame {
    font-size: 1.5rem;
    font-weight: bold;
    color: #252f33;
    background-color: #A0C9DB;
    /* padding: y x; */
    padding: 15px 60px;
    border: none;
    border-radius: 10px;
    /* ombre du btn (box-shadow: décalage-x décalage-y flou couleur;) */
    box-shadow: 3px 3px 3px #485b62;
}

button#startGame:hover {
    background-color: #62741B;
    box-shadow: 3px 3px 3px #3e4a12;
    color: #ffffff;
}

/* --------Style du 2ème écran-------- */
#container-game {
    height: 100vh;
    font-size: 1.1rem;
    /* le "display: flex;" sera ajouté en JS */
    justify-content: space-evenly;
    align-items: center;
}

h3 {
    font-size: 1.1rem;
}

/* Définition de la largeur des 2 blocs de gauche (textes) et droite (pendu) */
#container-game>div {
    width: 30vw;
}

/* ----Style du bloc de droite---- */
#hanged-space{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Positionnement du bloc de droite (le pendu) en bas de la page. La class sera retirée en JS pour éviter d'avoir "Gagné/Perdu + btn Rejouer" en bas de page également. */
.hanged-position {
    align-self: flex-end;
}

#announcement-result-game {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* ----Style du bloc de gauche---- */
#placeToPlay {
    height: 75vh;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Positionnement des tirets du mot à trouver */
#wordToFindSpace {
    display: flex;
    justify-content: space-between;
}

#placeToPlay form {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

#placeToPlay form input, .btn-style {
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.btn-style{
    font-weight: bold;
    font-size: 1rem;
    color: #252f33;
    background-color: #A0C9DB;
    border: none;
    box-shadow: 2px 2px 2px #485b62;
    margin-top: 10px;
}

.btn-style:hover{
    color: #ffffff;
    background-color: #62741B;
    box-shadow: 2px 2px 2px #3e4a12;
}

input#letterGuess {
    border: 1px solid #252f33;
}

/* Style du placeholder de l'input */
input#letterGuess::placeholder {
    font-style: italic;
    color: #485b62;
}

/* Style du message d'erreur */
#errorMessage{
    color: #bd1616;
    font-size: 0.9rem;
}

#victories-defeats-count {
    display: flex;
    justify-content: space-between;
}

/* ==========Responsive========== */
@media screen and (max-width: 376px) {
    #container-game{
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
    }
    
    #container-game>div {
        width: 90vw;
    }
    
    img{
        width: 80%;
    }

    #placeToPlay {
        height: 50vh;
        margin-top: 0px;
    }
    
    #placeToPlay form {
        align-items: center;
        margin-bottom: 10px;
    }

    #placeToPlay form label {
        align-self: flex-start;
    }

    #placeToPlay form input, .btn-style {
        width: 85%;
    }

    .btn-style{
        margin-top: 5px;
    }

    #victories-defeats-count div:last-child{
        display: none;
    }

    #victories-defeats-count div:first-child{
        width: 100vw;
        display: flex;
        justify-content: space-between;
    }

    #hanged-space{
        justify-content: center;
        height: 50vh;
    }
}

